{% load menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<ul>
    {% for menu_item in menu_items %}
        <li> {% if menu_item.url == current_path or menu_item.get_ancestors|slice:"1"|last.url == current_path %}class="active"{% endif %}>
            {% if menu_item.named_url %}
                <a href="{% url menu_item.url %}">{{ menu_item.title }}</a>
            {% else %}
                <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
            {% endif %}
            {% render_menu menu_name=menu_name selected_menu_item=menu_item %}
        </li>
    {% endfor %}
</ul>